<ion-header>
  <ion-toolbar color="verdeMetalbo">
    <ion-buttons slot="start">
      <ion-back-button style="color: aliceblue" defaultHref="app/principal" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: aliceblue">Detalhes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-col size="2">Nr</ion-col>
      <ion-col size="4"><b>{{nr}}</b></ion-col>
      <ion-col size="2">Data</ion-col>
      <ion-col size="4"><b>{{data}}</b></ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="6">Solicitante</ion-col>
      <ion-col size="6"><b>{{solicitante}}</b></ion-col>
    </ion-item>
    <ion-item button (click)="listaItens()" color="warning">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label style="padding-left: 5px"><b>Listar itens</b></ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="lista-botoes">
    <ion-list-header color="primary">
      <ion-label class="label-pedido">Gerenciar </ion-label>
    </ion-list-header>
    <div class="header_buttons_allign">
      <ion-button color="success" class="button-gerencia" (click)="msgLiberaLista('a')"> Aprovar Sol.</ion-button>
      <ion-button color="danger" class="button-gerencia" (click)="msgLiberaLista('r')"> Reprovar Sol.</ion-button>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="roxoSteel" (click)="voltar()">Voltar</ion-button>
  </ion-toolbar>
</ion-footer>
