.truncate {
    display: inline-block;
    width: 150px; /* Largura da elemento */
    white-space: nowrap;
    overflow: hidden; /* Esconde o conteúdo que ultrapassar a largura */
    text-overflow: ellipsis; /* Adiciona as reticências */
}

/* Corrige a posição do elemento para ficarem na mesma linha */
.truncate + a {
    vertical-align: top;
    margin-top: -1px;
}
.btn-form{
    margin-top: 20px;
}
.btn-acao-grid{
    padding: 2px 5px 0 0 !important;

}
.margin-btn{
    width:100%; 
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.pesq-refresh{
    float:left;
}

.btn-padroes-form{
    margin-top: 15px;
}
.campo-form{
    margin-bottom: 0px;
}

.form-control{
    width:100%;
}
.input-group{
    width: 100%;
}
.row{
    margin: 0 !important;
}
.tr-default{
    color: #000;
}
.tr-vermelha{
    color: #F00;
}
.tr-verde{
    color: #396d39;
}
.tr-azul{
    color: #0039FF;
}
.tr-amarelo{
    color: #ffff00;
}
.tr-roxo{
    color: #990099;
}
.tr-rosa{
    color: #FF6EB4;
}
.tr-laranja{
    color: #ff6600;
}
.tr-font{
    font-size: 11px !important;
}
.tb-bk-darkgray{
    color: white;
    background-color:darkgray;
}
.tr-bk-vermelha{
    color: white;
    background-color:#F00;
}
.tr-bk-verde{
    color: white;
    background-color: #0f5539;
}
.tr-bk-azul{
    color: white;
    background-color: #0039FF;
}
.tr-bk-amarelo{
    background-color: #ffff00;
}
.tr-bk-roxo{
    color: white;
    background-color: #990099 ;
}
.tr-bk-rosa{
    color: white;
    background-color: #FF6EB4;
}
.tr-bk-laranja{
    color: white;
    background-color: #ff6600;
}
.tr-bk-black{
    color:white;
    background-color: black; 
}
.tr-bk-marrom{
    color:white;
    background-color: brown;
}
.tr-bk-vdclaro{
    color:black;
    background-color: #66ff66;
}
fieldset legend{
    width: inherit !important;
    padding: 0 10px !important;
    border-bottom: none !important; 
}
.carregando {
    display: block;
    position: absolute;
    z-index: 1000;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../images/gif/mega.gif') 50% 50% no-repeat;
    min-height: 100%;
}
.file-preview-image{
    width: 100% !important;
}
/*
div.dataTables_wrapper {
    width: 2000px;
    margin: 0 auto;
}
*/
.containerTable{
    padding:0px;
    /* border:dotted 1px;*/
    white-space:nowrap;
    overflow-x:auto;
}
table.dataTable{
    width: 100% !important;
}   

.dataTables_scrollHeadInner{
    width: 100% !important;
}

table{
    font-weight: 600 !important; 
}

.td-destaque{
    color: #000 !important;
    font-size:  small !important;
}
.tr-destaque{
    background-color:#E8E8E8 !important;
}

/*div.dataTables_wrapper {
      width: 1524px !important;
      margin: 0 auto;
  }*/

.fundo_amarelo{
    background:#FFF8DC !important;
}
.fundo_azul{
    background:#ADD8E6 !important;
}
.fundo_verde{
    background:#F0FFF0 !important;
}

.fundo_money{
    background:#C1CDC1 !important;
}

.fundo_vermelho{
    background: #FFC2B3 !important;
}

.cor_vermelho{
    color: #F00 !important;
}
.cor_verde{
    color: #28B119 !important;
}

.cor_azul{
    color: #0039FF !important;
}

.cor_rosa{
    color: #FF6EB4 !important;
}
table.dataTable td.select-checkbox:before {

    margin-top: -10px !important;

}

.icone-upload{
    width: 165px !important;
}

fieldset{
    padding-bottom: 15px;
}

.date-filter{
    margin-top:5px !important;
}

.botoes-consulta{
    margin-left: 3px !important;
}

.btn-checkbox{
    border:1px solid green;
    padding:4px;
    background-color: #e3eee9;
    line-height: .5em;
    content: '\2713';
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    left: 47%;
    top: 1px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    position: relative;
}
.btn-checkbox:hover{
    background-color: #82ae9c9e;
}
.fav-red{
    color: red !important;
}

.btn-add-reg{
    color: #0f5539 !important;
}
.btn-edit-reg{
    color: #007eff !important;
}
.btn-del-reg{
    color: red !important;
}
.btn-filtro-reg{
    color:#5a015a !important;
}
