<ion-header>
  <ion-toolbar color="verdeMetalbo">
    <ion-buttons slot="start">
      <ion-back-button style="color: aliceblue" defaultHref="app/principal" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: aliceblue">{{empresa}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar..."
      refreshingSpinner="crescent"
      refreshingText="Atualizando seus dados..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div class="divisor">
      <ion-label>Solicitações</ion-label>
    </div>
    <ion-item *ngFor="let p of aSolCompra; let i = index" (click)="getDadosSolCompras(p)">
      <ion-col size="3" style="font-size: 20px">{{p.nr}}</ion-col>
      <ion-col size="7" style="font-size: 12px"><b>{{p.observacao}}</b></ion-col>
      <ion-col size="2">
        <ion-chip outline color="success">
          <ion-label>></ion-label>
        </ion-chip>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
