<ion-header>
  <ion-toolbar color="verdeMetalbo">
    <ion-buttons slot="start">
      <ion-back-button style="color:aliceblue" defaultHref="app/principal" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:aliceblue">Detalhes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-col size="6">Nr</ion-col>
      <ion-col size="6"><b>{{seq}}</b></ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="6">Data</ion-col>
      <ion-col size="6"><b>{{data}}</b></ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="5">Fornecedor</ion-col>
      <ion-col size="7" style="font-size: 14px;"><b>{{fornecedor}}</b></ion-col>
    </ion-item>
    <ion-item button (click)="modalItens()" color="warning">
      <ion-label style="padding-left: 5px"><b>Lista de itens do pedido</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-col size="6">Valor frete</ion-col>
      <ion-col size="6"><b>R$ {{valorFrete}}</b></ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="6">Valor total</ion-col>
      <ion-col size="6"><b>R$ {{valor}}</b></ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="6">Solicitante</ion-col>
      <ion-col size="6"><b>{{solicitante}}</b></ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="3">Obs.</ion-col>
      <ion-col size="7" style="font-size: 12px;"><b>{{observacao}}</b></ion-col>
    </ion-item>
  </ion-list>

  <ion-list class="lista-botoes">
    <ion-list-header color="primary">
      <ion-label class="label-pedido">Gerenciar
      </ion-label>
    </ion-list-header>
    <div class="header_buttons_allign">
      <ion-button color="success" class="button-gerencia" (click)="msgLiberaLista('a')">
        Aprovar pedido
      </ion-button>
      <ion-button color="danger" class="button-gerencia" (click)="msgLiberaLista('r')">
        Reprovar pedido
      </ion-button>
    </div>
  </ion-list>


  <ion-button expand="full" color="roxoSteel" (click)="voltar()">Voltar</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>