.divisor {
    border-bottom-width: 0px !important;
    padding: 0;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-top: 15px;
    background-color: #0f5539 !important;
    color: #cc181e !important;
    text-align: center;
    font-size: 12px;
}
