.divisor {
    border-bottom-width: 0px !important;
    padding: 0;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-top: 15px;
    background-color: black !important;
    color: #fff !important;
    text-align: center;
    font-size: 12px;
}
.month_select {
    margin: 0px 0px 0px 3px;
}
