ion-refresher ion-refresher-content {
    // background: #000;
    --color: #0f5539 !important;
    --ion-text-color: #0f5539 !important;
}

.redFat {
    color: red !important;
}
.blueFat {
    color: blue !important;
}
.header_buttons_allign {
    text-align: center;
}
.md .lista-botoes {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.label-pedido {
    color: aliceblue;
    font-size: 17px;
    margin: 0px 0px 6px 0px;
}
.button-md-pedidos {
    text-transform: none !important;
}
.badge-pedidos {
    margin-left: 5px;
}
