ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}
.colorFontPed {
    color: aliceblue !important;
}

.gradGreen {
    background-image: linear-gradient(to right, #0f5539, #3CB371) !important;
}

.gradRed {
    background-image: linear-gradient(to right, #cc181e, #FF6347) !important;
}