<ion-header>
  <ion-toolbar>
    <ion-title>Itens do pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" style="color:blue">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col style="padding-left: 3px;" size="4">
      Descrição
    </ion-col>
    <ion-col size="4" offset="4">
      Preço
    </ion-col>
    <ion-col size="4" offset="1">
      Qnt
    </ion-col>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let p of itens; let i = index" (click)='getDadosPedCompras(p)'>
      <ion-col size="7" style="font-size: 12px;">{{p.sup_pedidoitemdescricao}}</ion-col>
      <ion-col size="3" style="font-size: 12px;"><b>R$ {{p.sup_pedidoitemvalor}}</b></ion-col>
      <ion-col size="3" style="font-size: 12px;" offset="-0.3"><b>{{p.sup_pedidoitemcomqtd}}
          {{p.sup_pedidoitemunidade}}</b></ion-col>
    </ion-item>
  </ion-list>
</ion-content>