<ion-header>
  <ion-toolbar>
    <ion-title>Itens do pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" style="color: blue">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="font-weight: 600; background-color: rgb(202, 202, 202)">
    <ion-col style="padding-left: 3px" size="4">Descrição</ion-col>
  </ion-grid>
  <ion-list>
    <ion-item-group *ngFor="let item of itens">
      <ion-col style="font-size: 11px">
        <b>{{ item.itemdescricao }}</b>
      </ion-col>
      <ion-item>
        <ion-col size="4" style="font-size: 10px"> <strong>Valor </strong>R$ {{ item.itemvalor }} </ion-col>
        <ion-col size="5" style="font-size: 10px">
          <strong>Qnt. </strong> {{ item.itemqtd }} {{ item.itemunidade }}
        </ion-col>
        <ion-col size="4" style="font-size: 10px"><strong>Total </strong>R$ {{ item.itemvalortotal }}</ion-col>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
